{% extends 'core/base.html' %}
{% load static %}

{% block head_title %}{{ title }}{% endblock %}

{% block content %}
<div class="center-container" style="background-image: url('{% static 'images/main_image.jpg' %}'); background-size: cover; background-position: center;">
    <h1 class="center-title">{{ title }}</h1>
    <div class="center-form">
        <form method="post" class="form">
            {% csrf_token %}
            <div class="form-group">
                <label class="form-label" for="amount">Quantia</label>
                <input type="number" name="amount" class="form-input" value="{{ form.amount.value }}">
                {% if form.amount.errors %}
                    {% for error in form.amount.errors %}
                        <p class="form-error">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-actions">
                <button class="form-button" type="submit">Enviar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
